DATABASE_URL="postgresql://postgres:postgres@localhost:5432/colorgenius?schema=public"

REDIS_URL=redis://localhost:6379
UPLOOK_API_KEY=
SQUARE_ACCESS_TOKEN=
SQUARE_WEBHOOK_SIGNATURE_KEY=
MODERATION_API_KEY=